@import url(fonts.css);
*
{
	margin: 0;
	padding: 0;
}
body
{
	font-family: sans-serif;
}
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 0;
}
.navbar
{
	background-image: linear-gradient(to right, #ff0000, #966e00);
	padding: 0 !important;
}
.navbar-brand img
{
	height: 100px;
	padding-left: 0px;
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
	color: #fff :important;
	font-weight: 600;
	float: right;
	text-align: left;
}
